.item {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #c2e7f0;
}

.detailbtn{
    text-decoration: none;
    background-color: teal;
    color: white;
    border-radius: 4px;
    padding: 0.25rem 0.8rem;
    border: 1px solid teal;
    cursor: pointer;
}
.detailbtn:hover,
.detailbtn:active {
    background-color: #11acac;
    border-color: #11acac;
}


/*
p{
    margin-top: .5em;
    font-size:9px;

}*/
